*{
    font-family: sans-serif;
    font-size: large;
}
p {
    text-align: center;
    color: lightgreen;
    position: absolute;
    bottom:10vh;
    left:20vw;
    right:20vw;
}
canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top:10vh;
    left:10vw;
    right:10vw;
}

.bg-image{
    background-image: url("img/bg.png");

    filter:blur(8px);
    -webkit-filter: blur(8px);

    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.correct {
    color: green;
}

.incorrect {
    color:red;
}

.neutral {
    color: black;
}

.done {
    color:lightgreen;
}

#Test
{
    position: absolute;
    font-family: Arial, sans-serif;
    /* visibility: hidden; */
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}
#dev {
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    display: none;
    position: absolute;
    top:80vh;
    left:30vw;
    right:10vw;
}